h1 {
  color: navy;
  margin-left: 20px;
}
h2 {
    font-size: 25px
}
#div-intro {
    color: blueviolet
}
#quick-links {
    font-size: 12px;
    text-align: left;
    color:darkblue
}
.eel {
    font-size: 18px;
    color:rebeccapurple;
}
p {
    color:black;
}

body {
    background-color:lightyellow;
}

img {
    float: right;
}
